body {
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

#quote {
  font-size: 24px;
  margin: 0 auto;
  width: 50%;
  text-align: center;
}

#change-quote {
  margin: 0 auto;
  display: block;
}
